[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/akeshavan/pelican-plugins
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/akeshavan/pelican-themes.git
[submodule "bioe_rotation3"]
	path = bioe_rotation3
	url = https://github.com/akeshavan/bioe_rotation3.git
